.imagen-main {
    width: 100%;
    max-height: 90vh; /* Cambié la altura máxima para que ocupe la mitad de la pantalla */
    object-fit: cover;
  }
  
  .carousel {
    max-width: 100%; /* El carrusel ocupará todo el ancho disponible */
    margin: 0 auto; /* Centra el carrusel horizontalmente */
  }